/*
  1. Posicionamiento
  2. Modelo de Caja (Box Model)
  3. Tipografia
  4. Visuales
  5. Otros
*/

:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --greyy: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}
.header {
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}
.header .img-logotipo {
  width: 150px;
  align-self: center;
  margin: 1rem 0;
}
.header .header-text {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin: 1rem 0;
}
.header .header-paragraph {
  font-weight: 500;
  margin: 1rem 0 3rem;
  color: var(--soft-orange);
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.header .btn-more {
  width: 230px;
  padding: 1.5rem;
  position: absolute;
  left: calc(50% - 115px);
  bottom: -20px;
  color: var(--warm-black);
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 700;
  background: var(--off-white);
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.527);
  border-radius: 4px;
}
.btn-more .icon-btn-more {
  margin: 0 0.5rem;
}

.container {
  padding: 4rem 2rem;
}
/* Intercambio */

.principal {
  background: var(--off-white);
  text-align: center;
}
.principal figure {
  width: 195px;
  margin: 3rem auto;
}
.principal figure img {
  max-width: 100%;
  width: 100%;
}
.principal-text {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: var(--warm-black);
  margin-bottom: 2.4rem;
}
.principal-paragraph {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #757575;
  margin-bottom: 4.8rem;
}
.principal .monedas {
  color: var(--bitcoin-orange);
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
  margin: 1rem;
}
.principal .comisiones {
  color: var(--secondary-blue);
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
  margin: 1rem;
}
.container-money {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: white;
  width: 200px;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.151);
  border-radius: 4px;
}
.container-money div {
  padding: 1rem;
  border: 1px solid ghostwhite;
}
.container-money div:nth-child(1) {
  border-top-left-radius: 4px;
}
.container-money div:nth-child(2) {
  border-top-right-radius: 4px;
}
.container-money div:nth-child(7) {
  border-bottom-left-radius: 4px;
}
.container-money div:nth-child(8) {
  border-bottom-right-radius: 4px;
}
.money-name {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #b5b0ac;
}
.money-value {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #757575;
  font-weight: 400;
}
.update-monedas,
.update-comi {
  display: inline-block;
  margin: 2rem auto;
  padding: 1rem;
  background: var(--soft-orange);
}
.update-comi {
  background: var(--soft-blue);
}
.update-monedas p,
.update-comi p {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

/* Beneficios */

.beneficios {
  background: var(--warm-black);
  color: var(--off-white);
  position: relative;
}
.beneficios-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  margin-bottom: 2rem;
}
.beneficios-text {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: #808080;
  margin-bottom: 3rem;
}
.cards-beneficios {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.card {
  background: #282623;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  padding: 2rem;
}
.card .card-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin: 0.8rem 0;
}
.card .card-text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.beneficios .icon {
  position: absolute;
  top: -1.2rem;
  left: calc(50% - 20px);
  transform: rotateY(180deg);
}

/*  */

.img-container {
  width: 100%;
  height: 50vh;
  background: url(../img/bitcoinbaby2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-container p {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--just-white);
  text-align: center;
  padding-top: 6rem;
}

/* Planes */

.planes {
  background: var(--off-white);
}
.planes h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--warm-black);
  text-align: center;
}
.planes > p {
  font-weight: 500;
  color: #757575;
  font-size: 1.4rem;
  text-align: center;
}
.card-plan {
  position: relative;
  width: 60%;
  min-width: 230px;
  max-width: 300px;
  padding: 2rem;
  margin: 2rem auto;
  text-align: center;
  background: white;
  color: var(--warm-black);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.card-plan .plan--title {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1.5rem 0 0.5rem;
}
.card-plan .plan--price {
  font-size: 5.2rem;
  font-weight: 700;
  margin: 0.8rem 0;
}
.card-plan .plan--text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #757575;
  margin: 0.8rem 0;
}
.card-plan button {
  background: #faf8f7;
  border: 2px solid #f7931a;
  border-radius: 4px;
  padding: 1rem 2rem;
  margin: 1rem 0;
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--warm-black);
  cursor: pointer;
}

.card-plan .box-recomendado {
  position: absolute;
  width: 100px;
  top: -16px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0.8rem 0;
  background: var(--bitcoin-orange);
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
}