.principal .cards-monedas {
  overflow-x: hidden;
  justify-content: center;
}
.cards-planes {
  overflow-x: hidden;
  justify-content: center;
}
.cards-beneficios {
  grid-template-columns: 1fr 1fr;
  margin: 4rem;
  gap: 3rem;
  justify-items: center;
}
.cards-beneficios .card {
  max-width: 400px;
}
.footer .links {
  align-items: center;
}